In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/restaurant_wait.csv')
df

    Alt  Bar  Fri  Hun   Pat  Price Rain  Res     Type    Est Wait
0   Yes   No   No  Yes  Some  £ £ £   No  Yes   French   0-10  Yes
1   Yes   No   No  Yes  Full      £   No   No     Thai  30-60   No
2    No  Yes   No   No  Some      £   No   No   Burger   0-10  Yes
3   Yes   No  Yes  Yes  Full      £  Yes   No     Thai  10-30  Yes
4   Yes   No  Yes   No  Full  £ £ £   No  Yes   French    >60   No
5    No  Yes   No  Yes  Some    £ £  Yes  Yes  Italian   0-10  Yes
6    No  Yes   No   No  None      £  Yes   No   Burger   0-10   No
7    No   No   No  Yes  Some    £ £  Yes  Yes     Thai   0-10  Yes
8    No  Yes  Yes   No  Full      £  Yes   No   Burger    >60   No
9   Yes  Yes  Yes  Yes  Full  £ £ £   No  Yes  Italian  10-30   No
10   No   No   No   No  None      £   No   No     Thai   0-10   No
11  Yes  Yes  Yes  Yes  Full      £   No   No   Burger  30-60  Yes

In [2]:
import collections
import numpy as np
decisions_count = collections.Counter(df["Wait"])
prices_count = collections.Counter(df["Price"])

prices_and_decisions_table = np.zeros(shape=((len(prices_count), len(decisions_count))),dtype=int)
prices_and_decisions_table = pd.DataFrame(prices_and_decisions_table, columns= [*decisions_count],
                                          index=[*prices_count])


prices_and_decisions_table

       Yes  No
£ £ £    0   0
£        0   0
£ £      0   0

In [3]:
prices_and_decisions_table[:] = 0

for _, each_observation in pd.DataFrame(df, columns=["Price", "Wait"]).iterrows():
    
    prices_and_decisions_table.at[each_observation["Price"], each_observation["Wait"]] += 1

    
prices_and_decisions_table

       Yes  No
£ £ £    1   2
£        3   4
£ £      2   0

# Create new table for each attribute

In [4]:
from src_NBC.naive_bayes import *

att_target = 'Wait'
att_name_list = df.columns.tolist()
att_name_list.remove(att_target)

decisions_count, list_table_count = update_list_tables(data_frame=df, target_name=att_target)

result = {}

In [5]:
X11 = df.iloc[11:].to_dict('records')[0]
for each_class in decisions_count.keys():
    s =  np.log(decisions_count[each_class])
    for each_attribute_name in att_name_list:
        s += np.log(list_table_count[each_attribute_name].at[\
                        X11[each_attribute_name], each_class])

        s -= np.log(np.sum(list_table_count[each_attribute_name][each_class].tolist()))

    result[each_class] = s

print(max(result))

Yes